<div class="page" data-name="client">
    <div class="navbar">
        <div class="navbar-inner sliding">
            <div class="left">
                <a href="#" class="link back">
                <i class="icon icon-back"></i>
                <span class="ios-only">Back</span>
                </a>
            </div>
            <div class="title">Client</div>
        </div>
    </div>
    <div class="page-content">
    <div class="block-title">Info du client</div>

        <div class="list inline-labels no-hairlines-md">
            <ul>
                <li class="item-content item-input">
                    <div class="item-inner">
                        <div class="item-title item-label">Identifiant</div>
                        <div class="item-input-wrap">
                            <input type="text" placeholder="123456" disabled="" value="{{clientId}}">
                        </div>
                    </div>
                </li>

                <li class="item-content item-input">
                    <div class="item-inner">
                        <div class="item-title item-label">Identité</div>
                        <div class="item-input-wrap">
                            <input type="text" placeholder="Jean Durand" value="{{identite}}">
                            <span class="input-clear-button"></span>
                        </div>
                    </div>
                </li>

                <li class="item-content item-input">
                    <div class="item-inner">
                        <div class="item-title item-label">Téléphone</div>
                        <div class="item-input-wrap">
                            <input type="text" placeholder="0666123456" value="{{telephone}}">
                            <span class="input-clear-button"></span>
                        </div>
                    </div>
                </li>

                <li class="item-content item-input">
                    <div class="item-inner">
                        <div class="item-title item-label">Adresse</div>
                        <div class="item-input-wrap">
                            <textarea placeholder="1 rue du canard" rows="2">{{adresse}}</textarea>
                        </div>
                    </div>
                </li>

                <li class="item-content item-input">
                    <div class="item-inner">
                        <div class="item-title item-label">Compteur</div>
                        <div class="item-input-wrap">
                            <input type="text" placeholder="56465436546354354654" value="{{compteur}}" disabled="">
                            <span class="input-clear-button"></span>
                        </div>
                    </div>
                </li>

                <li class="item-content item-input">
                    <div class="item-inner">
                        <div class="item-title item-label">Ancien relevé</div>
                        <div class="item-input-wrap">
                            <input type="text" placeholder="1500.0" value="{{ancienReleve}}" disabled="">
                        </div>
                    </div>
                </li>

                <li class="item-content item-input">
                    <div class="item-inner">
                        <div class="item-title item-label">A la date du</div>
                        <div class="item-input-wrap">
                            <input type="date" placeholder="01/01/2019" value="{{oldDate}}" disabled="">
                        </div>
                    </div>
                </li>

                <li class="item-content item-input">
                    <div class="item-inner">
                        <div class="item-title item-label">Relevé</div>
                        <div class="item-input-wrap">
                            <input type="text" placeholder="01/01/2019" value="{{releve}}">
                            <span class="input-clear-button"></span>
                        </div>
                    </div>
                </li>

                <li class="item-content item-input">
                    <div class="item-inner">
                        <div class="item-title item-label">Date</div>
                        <div class="item-input-wrap">
                            <input type="date" placeholder="01/01/2019" value="{{date}}">
                        </div>
                    </div>
                </li>

                <li class="item-content item-input">
                    <div class="item-inner">
                        <div class="item-title item-label">Situation</div>
                        <div class="item-input-wrap">
                            <input type="text" placeholder="1" value="{{situation}}">
                            <span class="input-clear-button"></span>
                        </div>
                    </div>
                </li>

            </ul>

            <div class="block">
                <div class="row">
                    <button class="col button button-fill">Géoloc</button>
                    <button class="col button button-fill">Signature</button>
                    <a href="/signature/"><button class="col button button-fill">Vue signature</button></a>
                </div>
            </div>

            <div class="block">
                <div class="row">
                    <button class="col button button-fill color-green">Valider</button>
                </div>
            </div>

        </div>
    </div>
</div>
    