<div class="page" data-name="releve">
    <div class="navbar">
        <div class="navbar-inner sliding">
        <div class="left">
            <a href="#" class="link back">
            <i class="icon icon-back"></i>
            <span class="ios-only">Back</span>
            </a>
        </div>
        <div class="title">Relevé</div>
        </div>
    </div>
    <div class="page-content">
    <div class="block-title">Liste des clients</div>
        <div class="list links-list">
            <ul>
                <div id="clientList"></div>
            </ul>
        </div>
    </div>
</div>
    