<div class="page" data-name="signature">
    <div class="navbar">
      <div class="navbar-inner sliding">
        <div class="left">
          <a href="#" class="link back">
            <i class="icon icon-back"></i>
            <span class="ios-only">Back</span>
          </a>
        </div>
        <div class="title">Signature</div>
      </div>
    </div>
    <div class="page-content">
        <div class="block">
            <!-- <canvas id="myCanvas" resize></canvas> -->
            <div id="simple-board" style="width: 200px; height: 200px; border-color: black; border-style: solid;"></div>
        </div>
    </div>
</div>
  